---

---

<div
  class="flex items-center gap-x-2 bg-white/5 border border-white/10 rounded-full text-xs py-1 px-2"
>
  <span class="relative flex h-2 w-2">
    <span
      class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
    ></span>
    <span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"></span>
  </span>
  <slot />
</div>
