---
import ExperienceCard from "./ExperienceCard.astro";
import { experiences } from "../data/portfolio";
import ArrowRightIcon from "./icons/ArrowRightIcon.astro";
---

<section id="experience" class="py-20 px-6">
  <div class="container mx-auto">
    <div class="text-center mb-16">
      <div class="inline-block">
        <div class="flex items-center gap-3 mb-4">
          <div
            class="w-12 h-0.5 bg-gradient-to-r from-transparent to-light-accent"
          >
          </div>
          <span
            class="text-light-accent font-mono text-sm uppercase tracking-widest"
          >
            03. Experiencia
          </span>
          <div
            class="w-12 h-0.5 bg-gradient-to-l from-transparent to-light-accent"
          >
          </div>
        </div>
      </div>

      <h2
        class="text-4xl md:text-5xl block font-bold bg-gradient-to-r from-light-primary to-light-secondary bg-clip-text text-transparent mb-6"
      >
        Trayectoria profesional
      </h2>

      <p class="text-xl text-light-text-body max-w-2xl mx-auto leading-relaxed">
        Mi experiencia construyendo soluciones digitales innovadoras y
        trabajando en equipos multidisciplinarios
      </p>
    </div>

    <div class="max-w-4xl mx-auto">
      <div class="relative">
        <div class="grid md:grid-cols-2 gap-8">
          {
            experiences.map((experience) => (
              <ExperienceCard experience={experience} />
            ))
          }
        </div>
      </div>
    </div>

    <div class="text-center mt-16">
      <div class="inline-block p-6 transition-all duration-500">
        <p class="text-light-secondary mb-4">
          ¿Interesado en conocer más sobre mi experiencia?
        </p>
        <a
          href="#contact"
          class="px-8 py-3 bg-light-primary hover:shadow-lg hover:shadow-light-primary transition-all duration-300 transform hover:scale-105 text-light-white flex items-center gap-2 justify-center"
        >
          Hablemos
          <ArrowRightIcon />
        </a>
      </div>
    </div>
  </div>
</section>
