---
//Layout.astro
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio de Luis Fernando Hinojosa Rivera - Desarrollador Full-Stack"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/webp" href="/perfil.webp" />
    <link
      href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <style>
      .bg-grid-pattern {
        background-image: linear-gradient(
            to right,
            var(--color-light-primary) 1px,
            transparent 1px
          ),
          linear-gradient(
            to bottom,
            var(--color-light-primary),
            1px,
            transparent 1px
          );
        background-size: 20px 20px;
      }
    </style>
  </head>
  <body class="bg-light-background overflow-x-hidden">
    <!-- Fondo de hoja cuadriculada -->
    <div class="fixed inset-0 -z-10">
      <!-- Cuadrícula principal -->
      <div class="absolute inset-0 bg-grid-pattern opacity-20"></div>
    </div>

    <slot />
    <Footer />
  </body>
</html>
